body {
    width: 901px;
    margin: auto;
}
header {
   
    display: flex;
}
.logo {
    display: flex;
    width: 50%;
    color: darkgray;
    font-size: xx-small;
    
}

.logo p::first-line {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
font-family: 'Pacifico', cursive;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width:50%;

}


.hr{
  padding: 10px;
  background-image: url("img/hr-img.png");
    background-repeat:repeat-x;
   display: flex;
   margin: 10px;
   width: 850px;
   
          
 }      
      

.main-1 {
    display: flex;
    width: 50%;
    color:  darkgrey;
    font-size: x-small;
   
}
   .main-1 p::first-line {
    color: black;
    font-family:  'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
  }
.main-2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.main-3 p {
    text-indent: 40px;
}
.main-3 p:nth-child(1) {
    margin-bottom: 30px;
}
.main-3 p:nth-child(2) {
    margin-bottom: 30px;
}
.main-3 p:nth-child(3) {
    margin-bottom: 30px;
}
.form {
    position: relative;
}
.input {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.table-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.table-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.hr1{
    padding: 10px;
    background-image: url("img/hr-img.png");
      background-repeat:repeat-x;
     display: flex;
     margin: 10px;
     width: 850px;
     
            
   }     


.venesa {
    display: flex;
    justify-content: flex-end;
    width:100% ;
    padding:20px  ;
    color: cadetblue;
  
}
.button {
    display:flex;
    justify-content: flex-end;
    width: 50%;
    align-items: flex-start;
padding: 10px 80px;
width: 200px;
}
    



.footer {
   display: flex;
   justify-content: center;
   width:100% ;
}
 .footer1{
    display: flex;
    justify-content: center;
     width: 100%;
     margin-bottom:50px;
     color: darkgrey;
 }
 
 button:hover{ 

    Background:rgb(153, 36, 36);
    color: black;
  
  }